<?xml version="1.0" ?>
<Gidx>

  <add key="Domain" value="https://api.gidx-service.in" />
  <add key="MerchantID" value="Dk6LHJS3H0iL-cowWyCWnQ" />
  <add key="ApiKey" value="w9H15zK_O0u4wSz7ZG8gwA" />
  <add key="ProductTypeID" value="DEwJB-zO70qpy9TRW-NKag" />
  <add key="DeviceTypeID" value="YkumzDB0pk-Vn0RfsK3tUQ" />
  <add key="ActivityTypeID" value="lJvLh7zO_UeyfEvbTU03OQ" />
  <add key="GidxCallBack" value="https://99d049ef.ngrok.io/api/payment/GidxCallBack" />
 
</Gidx>